@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

#profilepicture {
  width: 100px;
  border-radius: 100%;
}

.container {
  width: 900px;
  margin: 40px auto;
}

body {
  margin: 8;
  color: #575F7D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

p {
  margin-bottom: 40px;
}

h1, a {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #57a8ff;
  font-weight: 600;
  font-size: 16px;
}

h2 {
  color: #f6b586;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: black;
  color: white;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
  color: rgb(149, 149, 149);
}

.list-inline i:hover {
  color: black;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
